@import url('https://fonts.googleapis.com/css2?family=Alice&family=DM+Serif+Display&family=DM+Serif+Text&family=Lato:wght@400;700&family=Libre+Bodoni:wght@400;500;600;700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --light: #14A800;
    --green: #2b6425;
    --dark: #008329;
    --green1: #37a000;
    --blue1: #3860be;
    --blue2: #1f57c3;
    --blue3: #1a73e8;
    --gray1: #2e3644;
    --green3:#f2f7f2;
    --gray2: #5e6d55;
    --green4: #68b631;
    --gray3: #beccbe;
    --green5: #001E00;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #fff;
    padding-top: 140px;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 20rem;
}

.btn{
    border-radius: 45px;
    margin-top: 2px;
    display: inline-block;
    padding: 1.3rem 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    background: var(--light);
    cursor: pointer;
}
.btn:hover{
    background: #148a00;
}
.btn-1{
    margin-left: 10px;
    border-radius: 45px;
    margin-top: 2px;
    display: inline-block;
    padding: 1.3rem 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #009900;
    border: 1px solid #009900;
    cursor: pointer;
}
.btn-1:hover{
    background: #ccc;
}
.header{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
}

.header .logo{
    margin: 10px 0 0 2px;
}
.header .logo img{
    height: 2.5rem;
    width: 8rem;
}

.header .navbar{
    margin: 1px ;
}
.header .navbar.active{
    left: 0;
}
.header .navbar a{
    margin: 0 5px 0 40px ;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--gray2);
}

.header .navbar a:hover{
    color: var(--light);
}

.header .search1{
    border: .5px solid rgb(222, 207, 207);
    border-radius: 45px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 10px 25px;
}
.header .search1 input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.header .search1 label{
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
}

.header p{
    margin: 0 30px 0 10px;
    color: var(--gray2);
    font-weight: 500;
    font-size: 1.5rem;
}

.next-head {
    z-index: 1000;
    border-top: 0.1px solid rgb(223, 210, 210);
    position: fixed;
    background: #fff;
    left: 0px;
    right: 0;
    top: 70px;
    width: 100%;
    height: 70px;
    margin: 0 20px
}
.next-head ul{
    font-size: 1.5rem;
    font-weight: 450;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    height: inherit;
    margin: 0px 45px;
}

.next-head li{
    position: relative;
    display: inline-block;
    justify-content: center;
    margin: 0px 15px;
}
.next-head li a{
    color: var(--gray2);

}
.round{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.title{
    padding: 19px 60px;
}
.title .text h1{
    font-family: 'Alice', serif;
    font-size: 6.5rem;
    /* font-size: 80px; */
    font-weight: 600;
    color: var(--light);
}

.title .text p{
    color: var(--gray2);
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 25px;
}

.title .image img{
    position: absolute;
    display: flex;
    width: 30%;
    margin-left: 30px;
}

.title .button{
    margin-top: 25px;
}

.title .content{
    padding-top: 85px;
    font-size: 2rem;
    color: var(--gray3);
}
.title .logo img{
    display: inline-block;  
}
.title .logo .img-1{
    height: 40px;
    max-width: 17%;
    margin-right: 25px;
}
.title .logo .img-2{
    width: 8%;
    height: 40px;
    margin-right: 25px;
}
.title .logo .img-3{
    width: 11%;
    height: 35px;
    margin-right: 25px;
}
.title .logo .img-4{
    height: 40px;
    max-width: 5%;
}

.support{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--green3);
    margin: 40px 60px;
}
.support .image img{
    max-width: 80%;
}
.support .content h1{
    color: var(--green5);
    font-family: 'DM Serif Text', serif;
    font-size: 4rem;
    font-weight: 100;
    padding: 15px 0 5px;
}

.support .content p{
    color: var(--gray2);
    font-weight: 500;
    font-size: 1.8rem;
}
.support .content p sup{
    font-size: .2rem;
}
.support .content .btn-2{
    border-radius: 45px;
    margin-top: 10px;
    display: inline-block;
    padding: 1.1rem 3.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #009900;
    border: 1px solid #009900;
    cursor: pointer;
}
.support .content .btn-2:hover{
    border-color: var(--gray2);
    color: var(--gray2);
}

.freelancer {
    background-image: url(lap.webp);
    width: 100%;
    background-size: cover;
    border-radius: 10px;
}

.freelancer .content h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    padding: 40px 40px 100px;
}

.freelancer .content h1{
    font-size: 6rem;
    color: rgb(255, 255, 255);
    padding: 0px 0 30px 40px;
    line-height: 70px;
    font-family: 'Alice', serif;
}

.freelancer .content p{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding: 0px 0 15px 40px;
    line-height: 27px;
}
.freelancer .box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-right: 70px;
}
.freelancer .box-container .box{
    color: #fff;
    border: 1px solid var(--light);
    border: none;
    border-radius: 10px;
    background-color: var(--light);
    padding: 20px 15px 25px;
    margin-left: 36px;
}
.freelancer .box-container .box:hover{
    color: #009900;
    background-color: #fff;
}
.freelancer .box-container .box h1{
    font-size: 3.3rem;
    line-height: 36px;
    font-weight: 500;
}
.freelancer .box-container .box p{
    font-size: 1.8rem;
    margin-top: 10px;
}
.freelancer .box-container .box p sup{
    font-size: .2rem;
}

.busin .two{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 150px 30px 20px 30px;
    gap: 3em;
}
.busin .two .image{
    position: absolute;
}
.busin .two .image img{
    width: 49%;
    transform: translate(151%,-10%);
}
.busin .two .quality{
    border-radius: 10px;
    background-color: #F2F7F2;
}
.busin .two .quality h1{
    color: var(--green5);
    padding: 40px 0 30px  40px;
    font-size: 7rem;
    font-weight: 300;
    line-height: 70px;
    font-family: 'DM Serif Text', serif;

}
.busin .two .quality .proof{
    display: flex;
    align-items: center;
}
.busin .two .quality .proof .icon{
    background: black;
    color: #fff;
    border-radius: 50%;
    padding: 1px;
    position: relative;
    width: 20px;
    font-size: 1.2rem;
    height: 20px;
    display: grid;
    place-items: center;
    margin: 5px 20px 0 40px;
}
.busin .two .quality .proof h2{
    font-family: 'Lato', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--green5);
}
.busin .two .quality p{
    font-size: 1.7rem;
    font-weight: 500;
    padding: 15px 0 30px 80px;
    color: #5E6D55;
}
.busin .two .work{
    padding: 190px 40px 0 20px;
    border-radius: 10px;
    background-color: var(--light);
}
.busin .two .work h1{
    font-family: 'Lato', sans-serif;
    font-size: 3.5rem;
    color: #fff;
    line-height: 40px;
    font-weight: 700;
}
.busin .two .work .work-sub{
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}
.busin .two .work .work-sub i{
    font-size: 3rem;
    color: #fff;
    width: 20px;
    height: 20px;
    place-items: center;
    padding: 10px 30px 0 0px;
}
.busin .two .work .work-sub h1{
    font-size: 4rem;
    font-weight: 700;
    padding: 30px 30px 0 20px;
}
.busin .two .work .work-sub img{
    width: 13%;
    margin: 0;
}
.busin .two .work .work-sub h2{
    font-size: 4rem;
    font-weight: 700;
    padding: 0px 30px 0 5px;
}
.busin .two .work p{
    color: #fff;
    font-size: 1.6rem;
    padding: 15px 55px 30px;
}

.great-work .combine{
    padding: 85px 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.great-work .combine .lap img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.great-work .combine .content{
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1F57C3;
    color: #fff;
}
.great-work .combine .content h2{
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 30px;
}
.great-work .combine .content h1{
    padding-top: 10px;
    font-size: 7rem;
    font-weight: 400;
    line-height: 70px;
    font-family: 'DM Serif Text', serif;
}
.great-work .combine .content p{
    padding-top: 30px;
    padding-bottom: 150px;
    font-size: 2rem;
}
.great-work .combine .content .flex{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: left;
    text-align: left;
}
.great-work .combine .content .flex h3{
    font-size: 1.9rem;
    font-weight: 500;
    padding: 20px 5px 20px;
    
}
.great-work .combine .btn-2{
    margin-left: 10px;
    border-radius: 45px;
    margin-top: 22px;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 15px;
    font-weight: 500;
    color: #1F57C3;
    background: white;
    border: 1px solid #1F57C3;
    cursor: pointer;
}
.great-work .combine .btn-2:hover{
    background: #e6f7ff;
}

.startup .head h1{
    color: var(--green5);
    padding: 80px 80px 40px;
    font-size: 7rem;
    font-weight: 500;
    line-height: 70px;
    font-family: 'DM Serif Text', serif;
}
.startup .box-container .box{
    padding: 0px 70px;
    gap: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.startup .box-container .box1{
    color: #D5E0D5;
    border: none;
    border-radius: 10px;
    background-color: #13544E;
    padding: 30px 20px 0px 20px ;
}
.startup .box-container .box1 img{
    width: 40%;
}
.startup .box-container .box1 h1{
    padding: 10px 5px 0;
    font-size: 2.7rem;
    font-weight: 100;
    line-height: 24px;
    margin-right: 60px;
    color: #fff;
    font-family: 'DM Serif Text', serif;
}
.startup .box-container .box1 p{
    font-size: 1.6rem;
    padding: 15px 5px;
}
.startup .box-container .box1 h2{
    font-size: 1.6rem;
    padding: 110px 0 20px 0;
    border-bottom: 1px solid white;
}
.startup .box-container .box1 .flex{
    display: flex;
    gap: 1em;
}
.startup .box-container .box1 .flex h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}
.startup .box-container .box1 .flex p{
    font-size: 1.5rem;
}
.startup .box-container .box2{
    color: #D5E0D5;
    border: none;
    border-radius: 10px;
    background-color: #BC511B;
    padding: 30px 20px 0px 20px ;
}
.startup .box-container .box2 h1{
    padding: 10px 5px 0;
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 24px;
    margin-right: 10px;
    color: #fff;
    font-family: 'DM Serif Text', serif;
}
.startup .box-container .box2 p{
    font-size: 1.6rem;
    padding: 15px 5px;
}
.startup .box-container .box2 h2{
    font-size: 1.5rem;
    padding: 125px 0 20px 0;
    border-bottom: 1px solid white;
}
.startup .box-container .box2 img{
    width: 40%;
}
.startup .box-container .box2 .flex{
    display: flex;
    gap: 9em;
}
.startup .box-container .box2 .flex h1{
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.startup .box-container .box2 .flex p{
    font-size: 1.5rem;
    font-weight: 500;
}


.skills .flex{
    padding: 100px 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10em;
}
.skills .flex .top{
    display: flex;
    gap: 3em;
}
.skills .flex .datas{
    display: flex;
    justify-content: space-around;
    gap: 3em;
}
.skills .flex .top ul{
    list-style: none;
    font-size: 4rem;
    line-height: 55px;
    letter-spacing: -2px;
    font-weight: 500;
}
.skills .flex .top li span{
    color: var(--green1);
}
.skills .flex .top li span:hover{
    color: var(--green);
}
.skills .flex .top li{
    color: var(--gray3);
}
.skills .flex .top li:hover{
    color: var(--green);
}
.skills .flex .top li sup{
    font-size: 1.5rem;
}
.skills .flex .data li,
.skills .flex .data1 li{
    list-style: none;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 45px;
    color: #5E6D55;
}
.skills .flex .data li:hover,
.skills .flex .data1 li:hover{
    color: var(--green4);
}

.footer .foot{
    background-color: var(--green5);
    padding-top: 40px;
}
.footer .foot .flex{
    display: flex;
    gap: 160px;
    color: #fff;
    padding: 0 50px;
}
.footer .foot .flex .for h3{
    margin-bottom: 25px;
}
.footer .foot .flex .for ul{
    list-style: none;
    line-height: 30px;
}
.footer .foot .flex .for li{
    font-size: 12px;
    font-weight: 400;
}
.footer .foot .icon{
    padding: 50px 50px 5px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.footer .foot .icon .grid{
    display: flex;
    gap: 3em;
    color: #fff;
}
.footer .foot .icon .grid1{
    display: flex;
    gap: 3em;
    color: #fff;
    padding-left: 160px;
}
.footer .foot .icon .grid p,
.footer .foot .icon .grid1 p{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 12px;
}
.footer .foot .icon .grid .icons i{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px ;
    align-items: center;
    font-size: 1.3rem;
    margin-left: 10px;
}
.footer .foot .icon .grid1 .icons img{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px ;
    align-items: center;
    width: 38px;
    margin-left: 10px;
}
.footer .foot .copy{
    display: flex;
    gap: 1px;
    padding: 15px;
    border-top: 1px solid #5E6D55;
}
.footer .foot .copy p{
    color: #fff;
    font-size: 1.2rem;
    padding-left: 30px;
    padding-bottom: 50px;
}
.footer2{
    display: none;
}
.btns{
    display: none;
}








@media  screen and (max-width: 1200px){
    .btns{
        display: none;
    }
    /* .header{
        padding: 1.5rem 2rem;
    }
     */
    .header .navbar a{
        display: inline;
        font-size: 10px;
        /* margin: 0 5px 0 10px ; */
    }
    
    .header .navbar a:hover{
        color: var(--light);
    }
    
    .header .search1{
        margin-left: 40px;
        padding: 10px 15px;
    }
    .header p{
        margin: 0 20px 0 10px;
    }
    .footer .foot .icon .grid1{
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding-left: 0px;
    }
}
   
@media screen and (max-width:968px){
    .header{
        padding: 1.5rem 1rem;
    }
    
    .header .navbar a{
        margin: 0px ;
        justify-content: space-between;
    }
    
    .header .navbar a:hover{
        color: var(--light);
    }
    
    .header .search1{
        margin-left: 0px;
        padding: 10px 5px;
    }
    .header p{
        margin: 0 15px 0 15px;
    }
}

@media screen and (max-width:868px) {
    .title{
        padding: 0 20px;
    }
    .header{
        border-bottom: 1px solid gray;
    }
    .header .navbar{
        display: none;
    }
    .btns{
        position: relative;
        width: 50px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 0px;
    }
    .btns ion-icon{
        font-size: 1.5rem;
        color: var(--black);
    }
    
    .btns.menuToggle ion-icon{
        font-size: 4rem;
    }
    
    .btns ion-icon:nth-child(2){
        display: none;
    }
    
    .btns.active ion-icon:nth-child(2){
        display: block;
    }
    
    .btns.active ion-icon:nth-child(1){
        display: none;
    }
    .header .search1{
        display: none;
    }
    .header p{
        font-size: 1.6rem;
        margin: 20px;
        padding-left: 250px;
    }
    .header a{
        margin:0 0 0 70px;
    }
    .next-head{
        display: none;
    }
    .title .round{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .title .logo .img-2{
        width: 15%;
    }
    .title .logo .img-3{
        width: 25%;
        height: 50%;
    }
    .title .logo .img-4{
        max-width: 10%;
        height: 10%;
    }
    .support{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 20px 20px;
    }
    .busin .two{
        padding: 100px 5px 20px 0px;
        gap: 0em;
    }
    .busin .two .work{
        padding: 190px 5px 0 20px;
    }
    .busin .two .image img{
        display: none;
    }
    .busin .two .qualityp{
        margin: 0;
        padding: 0;
    }
    .startup .box-container .box{
        padding: 0px 0px;
        gap: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .startup .head h1{
        padding: 80px 0px 40px;
    }
    .freelancer .box-container .box{
        padding: 10px 5px 5px;
        margin-left: 16px;
    }
    .freelancer .box-container{
        padding: 20px 20px 20px 0px;
    }
    .freelancer {
        margin: 0px;
    }
    .great-work .combine{
        padding: 45px 0px 0;
    }
    .footer .foot .flex{
        gap: 60px;
        padding: 0 40px;
    }
    .footer .foot .icon .grid1{
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding-left: 50px;
    }
}

@media screen and (max-width:580px) {
    .header{
        padding: 0;
        margin: 0;
    }
    .header p{
        margin-left: -140px;
    }
    .header .btn{
        margin: 0px;
    }
    .header .search1{
        display: none;
    }
    .btns{
        position: relative;
        width: 50px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 0px;
    }
    .btns ion-icon{
        font-size: 1.5rem;
        color: var(--black);
    }
    
    .btns.menuToggle ion-icon{
        font-size: 4rem;
    }
    
    .btns ion-icon:nth-child(2){
        display: none;
    }
    
    .btns.active ion-icon:nth-child(2){
        display: block;
    }
    
    .btns.active ion-icon:nth-child(1){
        display: none;
    }
    .round{
        display: none;
    }
    .title{
        padding: 0 10px;
    }
    .title .round{
        display: grid;
        grid-template-columns: 1fr;
    }
    .title .image img{
        display: none;
    }
    .title .content{
        padding-top: 35px;
    }
    .title .logo img{
        display: inline-block;  
    }
    .title .logo .img-1{
        height: 40px;
        max-width: 20%;
        margin-right: 25px;
    }
    .title .logo .img-2{
        width: 18%;
        height: 40px;
        margin-right: 25px;
    }
    .title .logo .img-3{
        width: 21%;
        height: 35px;
        margin-right: 25px;
    }
    .title .logo .img-4{
        height: 40px;
        max-width: 15%;
    }
    .support{
        margin:20px 15px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .freelancer .box-container{
        grid-template-columns:1fr ;
        gap: 3em;
        padding: 0 10px 0 10px;
    }
    .freelancer .box-container .box{
        padding: 20px 0 20px 20px;
    }
    .freelancer {
        background-image: url(lap.webp);
        width: 100%;
        margin: 0 0px;
        padding: 10px 20px 10px 5px;
        border-radius: 10px;
    }
    .busin .two .image img{
        display: none;
    }
    .busin .two{
        grid-template-columns: 1fr;
        gap: 3em;
    }
    .busin .two .work{
        padding: 20px 40px 0 20px;
    }
    .great-work .combine{
        padding: 20px 10px;
        grid-template-columns: 1fr;
    }
    .great-work .combine .lap img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .great-work .combine .content{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .great-work .combine .content p{
        padding-bottom: 50px;
    }
    .great-work .combine .content .flex h3{
        padding: 10px 0;
    }
    .startup .head h1{
        padding: 80px 20px 40px;
    }
    .startup .box-container .box{
        padding: 20px 10px;
        grid-template-columns: 1fr;
    }
    .skills .flex{
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .skills .flex .top{
        padding: 0 50px;
    }
    .skills .flex .top ul{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer{
        display: none;
    }
    .footer2{
        padding: 0 20px ;
        color: #fff;
        background-color: var(--green5);
        display: block;
    }
    .footer2 .foots{
        width: 100%;
    }
    .footer2 .foots .foot{
        display: grid;
        grid-template-rows: 1fr;
        line-height: 40px;
        margin-bottom: 5px;
    }
    .footer2 .foots .foot .foot-1{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #beccbe;
    }
    .footer2 .foots .foot .foot-1 p{
        font-size: 1.5rem;
        padding: 10px 0;
    }
    .footer2 .foots .foot .foot-1 i{
        padding: 15px 15px;
        font-size: 2rem;
    }
    .footer2 .foots .icon{
        padding: 40px 0;
    }
    .footer2 .foots .icon p{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    .footer2 .foots .icon i{
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 10px ;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 10px;
   }
   .footer2 .foots p{
    font-size: 1.5rem;
    padding-bottom: 20px;
   }
   .footer2 .foots .app{
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
   }
    .footer2 .foots .app img{
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 7px;
        align-items: center;
        width: 38px;
        margin-left: 10px;
  }
  .footer2 .foots .list{

      padding: 30px 0 0;
  }
  .footer2 .foots .list p{
      padding: 20px 0;
      font-size: 1.2rem;
  }
}